@font-face {
  font-family: 'Beyond Infinity';
  src: url(../public/fonts/Beyond_Infinity.ttf);
}
@font-face {
  font-family: 'Louize';
  src: url(../public/fonts/Louize_font.ttf);
}


.designtab-heading{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #6f726f;
    /* background-image: linear-gradient(to right, #f9f9f9 , white
    ); */

     background-size: auto auto;
     /* background-image: url(../public/images/svg/layered-waves-haikei-1.svg); */
    background-repeat: no-repeat;
    /* background-size: 100%,100%; */
    object-fit: cover;
    background-color: #f6f6f6;
    /* background-color: #3bbdad; */
}
.designtab-heading .myheading{
    font-size: 60px;
    width: 90%;
    font-family: "Beyond Infinity",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    /* color: white; */
    /* border: 1px solid black; */
}
.designtab-heading .myheading span{
    margin-left: 1%;
    /* padding-left: 1%; */
    color: #25645d;
    /* border: 1px solid black; */
}
.designtab-heading p{
    max-width: 50%;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Louize',sans-serif;
    margin-bottom: 20px;
}

/* responsive css */

@media only screen and (max-width:1068px){
    .designtab-heading p{
        max-width: 70%;
    }
}

@media only screen and (max-width:770px){
    .designtab-heading p{
        max-width: 80%;
    }
}

@media only screen and (max-width:670px){
    .designtab-heading p{
        max-width: 90%;
    }
}
