/* .fcontainer{
    height: 300px;
} */

/* component */

.component {
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
  /* height: 400px; */
  background-color: #ffffff;
  background-image: url(../public/images/accordion/bg-pattern-desktop.svg);
  background-position: -565px -295px;
  background-repeat: no-repeat;
  /* box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159); */
  border-radius: 23px;
  display: flex;
}


/* attribution */

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(240, 5%, 91%);
  padding-top: 10px;
}
.attribution a {
  color: hsl(273, 75%, 66%);
}



/* animation css */

.faq__desc.show-description {
  height: 2rem;
  margin-bottom: 15px;
  margin-left: 0;
}

/* closed */
.faq__question-button::after {
  transition: transform 300ms ease-out;
}

/* open */
.font-weight-bold::after {
  transform: rotate(720deg);
}


/* faq */

.faq {
    /* border: 1px solid black; */
	 width: 100%;
	 padding-top: 10px;
	 padding-bottom: 10px;
}
 .faq__title {
	 margin: 0;
	 padding-bottom: 5px;
     font-size: 1.6rem;
}
 .faq__question {
	 max-width: 350px;
	 width: 100%;
	 border-bottom: 1px solid #e7e7e9;
}
 .faq__question-button {
	 width: 100%;
	 display: flex;
	 justify-content: space-between;
	 border: none;
	 background-color: transparent;
	 padding: 0px;
	 cursor: pointer;
	 padding-top: 18px;
	 padding-bottom: 15px;
}
 .faq__question-button::after {
	 /* content: url(../images/icon-arrow-down.svg); */
     content: url(../public/images/accordion/icon-arrow-down.svg);
	 margin-right: 17px;
	 transform: rotate(90deg);
}
 .faq__question-button:hover {
	 color: #f47c57;
}
 .faq__desc {
	 margin-left: -40px;
	 padding-right: 17px;
	 margin-top: 0;
	 margin-bottom: 0;
	 height: 0;
	 overflow: hidden;
	 transition: all 200ms ease-out;
}
 

/* illustration */

.illustration {
	 width: 100%;
	 position: relative;
}
 .illustration__box {
	 position: absolute;
	 z-index: 999;
	 top: 200px;
	 left: -80px;
}
 .illustration__woman-desktop {
	 position: absolute;
	 top: 60px;
	 left: -77px;
	 clip-path: inset(0px 0px 0px 77px);
}
 .illustration__woman-mobile {
	 display: none;
}


/* respopnsive */


@media only screen and (max-width: 800px) {
	 .illustration__woman-desktop {
		 max-width: 120%;
	}
}
 @media only screen and (max-width: 700px) {
	 .fcontainer {
		 padding-top: 105px;
	}
	 .component {
		 max-width: 327px;
		 /* background-image: url(../images/bg-pattern-mobile.svg); */
         background-image: url(../public/images/accordion/bg-pattern-mobile.svg);
		 background-position: top;
		 flex-direction: column;
	}
	 .illustration__box {
		 display: none;
	}
	 .illustration__woman-desktop {
		 display: none;
	}
	 .illustration__woman-mobile {
		 display: block;
		 margin: 0 auto;
		 position: absolute;
		 top: -105px;
		 left: 12px;
	}
	 .faq {
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 padding-top: 132px;
		 padding-bottom: 48px;
	}
	 .faq__question {
		 max-width: 279px;
	}
	 .faq__question-button {
		 width: 279px;
		 font-size: 13px;
		 line-height: 13px;
	}
	 .faq__question-button::after {
		 padding-right: 0px;
	}
}
 