
.containerd {
  width: 100%;
  height: 100%;
  overflow-y:scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  /* background-image: linear-gradient(to right, #f9f9f9 , white
    ); */
    /* background: transparent;
    background-image: transparent; */
    background-image: url(../public/images/svg/layered-waves-haikei-3.svg);
    background-repeat: no-repeat;
    background-size: 100%,100%;
  /* border:1px solid black; */
}
.containerd::-webkit-scrollbar{
  display: none;
}
.containerd .box {
  position: relative;
  width: 240px;
  height: 240px;
  /* background: #000; */
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
  border-radius: 10px;
  overflow: hidden;
}
.containerd:hover .box {
  transform: rotateY(25deg);
}
.containerd .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.containerd .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.containerd .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.containerd .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#f9f9f9 , white);
  /* background: linear-gradient(180deg , #f9f9f9 , white ); */
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.containerd .box:hover .imgBx:before {
  opacity: 1;
}
.containerd .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerd .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.containerd .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.containerd .box:hover .content h2 {
  transform: translateY(0px);
}
.containerd .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.containerd .box:hover .content p {
  transform: translateY(0px);
}